C1.0

SCREENPALETTE 656 fed 001 989 fd0 67b 348 335 001 222 444 666 888 aaa ccc eee
CLOSEWB off
CLOSESCALA on
GENLOCK off
SHUFFLER off
SHUFFLERSIZE 6
SHUFFLERCOLORS 3
TRASHCANDIR "Work:Corbeille"
SNAPSAVEACTIVE off
CURSORFLASH off
MENUMONITOR "pal.monitor"
DISPLAYFORMAT 4:3

EX "No." 41
EX "Pagename" 318
EX "Wipe" 79
EX "Pause" 51
EX "Sound" 51
EX "Variables" 70
EX "Execute" 70

CREATEICONS on
FILESHUFFLER off
FILESHUFFLERSIZE 6
DRIVE "Scripts" "Work:Utilitaires/Multimedia/Scala/Scripts/" 5
DRIVE "Backgrounds" "Work:Utilitaires/Multimedia/Scala/Backgrounds/" 4
DRIVE "Animations" "Work:Utilitaires/Multimedia/Scala/Animations/" 4
DRIVE "Music" "Work:Utilitaires/Multimedia/Scala/Music/" 3
DRIVE "Sounds" "Work:Utilitaires/Multimedia/Scala/Sounds/" 3
DRIVE "Symbols" "Work:Utilitaires/Multimedia/Scala/Symbols/" 1
DRIVE "Palettes" "Work:Utilitaires/Multimedia/Scala/Palettes/" 1
DRIVE "Text" "Work:Utilitaires/Multimedia/Scala/Text/" 2
DRIVE "Layouts" "Work:Utilitaires/Multimedia/Scala/Layouts/" 2

INSTRUMENTDIR "Instruments:"

BUFFERMODE Dynamic
PAGECOUNTER 0
COUNTERDWELL 10
POINTER off
LACEALL on
ASYNCMODE on
TIMING relative
PLAYMONITOR "pal.monitor"

MOUSE on
FKEYS on
NUMKEYS off
JOYSTICK off
TOUCHSCREEN off
INTERACTIVE on

PRINTER preferences
PRINTFONT times 12
PRINTPREFOPTS lq grey
PRINTPAGE horizontal 1
