
# Misc. Stuff

PPTH	""	# path for Imagine.pic
EDIT	"C:\ed"	# text editor to use for "Edit Movie"
QUIK	"Ultra Lores"	# quickrender preset name
QURM	"Scanline"	# quickrender rendering method
QUFF	"ILBM-24bit"	# quickrender file format
QPTH	""	# path for quickrender pic
PSDR	""	# Postscript font directory
STGF	""	# Default staging file name
TDIR	""	# Path for temporary RGB files
OLDA	T	# flag - use "old" anti-aliasing in trace
GRON	T	# flag - grid on/off
BWLN	T	# flag - do lines in "B & W Shade"
COLN	F	# flag - do lines in "Color Shade"
WARN	T	# flag - warn about unsaved changes
WRNO	T	# flag - warn about overwriting existing object files
SREV	F	# flag - reverse lenses in 3D stereo
FRUN	F	# flag - free undo info before quickrender
FRCP	T	# flag - free copy/paste info before quickrender
FRMV	T	# flag - free editor "movie" before quickrender
FRPV	F	# flag - free persp view info after screen update
GNEW	T	# initial "Generate New ..." button state
DITH	T	# initial "Auto Dither" button state
USFC	F	# initial "Use Firecracker" button state
OPAL	F	# use OpalVision, not Firecracker
RTNA	F	# "use Retina", not Opal or Firecracker (for 24 bit display)
REMU	F	# expect RetinaEMU for Imagine screen: use SMOD and S256 settings
USAA	T	# use AA chip set if available
S256	F	# run 640x480 Imagine in a 256 color display (if possible)
BGRD	555	# background color
FGRD	000	# edge color
REQC	22f	# requester & gadgets color (bounding box & drag points)
BVLB	99f	# bright bevel color (points & group lines)
BVLD	008	# dark bevel color (selected objects edges & points)
GRID	666	# grid color
PICK	66f	# picked edge color
PPNT	f66	# picked point color
SPCK	c6f	# selected picked edge
SPPT	ff6	# selected picked point
BWLC	fff	# line color in "B & W Wire/Shade"
COLC	fff	# line color in "Color Shade"
STAR	888	# star color in "Trace" and "Scanline"
COL0	000	# "color 0" RGB value for stills
QSKY	000000	# "Quickrender" background color
GENC	010101	# "genlock" color for non-Amiga IFFs
NUMS	3	# number of screens to use in Make Movie
EDLE	30	# anti-aliasing threshold
AARC	255	# anti-aliasing rays per pixel limit
RSDP	8	# "resolve depth" (multiple reflections)
GNDN	16	# # of divisions in ground
OCTD	6	# # levels in oct-tree (6 max)
SMOD	0	# imagine screen width: 0=640,1=800,2=1024,3=1280
GNDS	1024.000	# ground size
SCRL	0.250	# scroll percantage (of screen width/height)
GSIZ	20.000	# initial grid size
QINT	255.000	# "Quickrender" light intensity
OTRL	-1	# max oct-tree RAM in KBytes (or -1)
OTFL	40	# min free RAM after oct-tree (Kb) (or -1)
ATPT	"attrib"	# Attributes directory path
AT01	"Gold"	# 1st attribute name
AT02	"Chrome"	# 2nd attribute name
AT03	"Mirror"	# 3rd attribute name
AT04	"Steel"	# 4th attribute name
AT05	"Brass"	# 5th attribute name
AT06	"Glass"	# 6th attribute name
AT07	"Ketsup"	# 7th attribute name
AT08	"Coco"	# 8th attribute name
AT09	"Flesh"	# 9th attribute name
AT10	"Tireblk"	# 10th attribute name
AT11	"RedChrm"	# 11th attribute name
AT12	"BluChrm"	# 12th attribute name
AT13	"GrnChrm"	# 13th attribute name
AT14	"RedGlass"	# 14th attribute name
AT15	"BluGlass"	# 15th attribute name
AT16	"GrnGlass"	# 16th attribute name
AT17	"Peach"	# 17th attribute name
AT18	"Cream"	# 18th attribute name
AT19	"Pink"	# 19th attribute name
AT20	"Violet"	# 20th attribute name
AT21	"Gray"	# 21st attribute name
AT22	"DkGreen"	# 22nd attribute name
AT23	"DkBlue"	# 23rd attribute name
AT24	"Blood"	# 24th attribute name
AT25	"OrangPel"	# 25th attribute name

# Rendering Presets

PSET	Hires,640,512,11,10,AAcs|HAM|HIRES|LACE
PSET	Lores,320,256,11,10,AAcs|HAM
PSET	Ultra Lores,160,128,11,10,AAcs|HAM
PSET	Super Ultra Lores,80,64,11,10,AAcs|HAM

# Function Keys

FD01	650	# Pick Select
FD02	660	# Unpick Select
FD03	670	# Unpick Last
FD04	391	# Add Axis
FD05	394	# Add Primitive
FD06	4e1	# Pick Method: Click
FD07	510	# Attributes Requester
FD08	4e2	# Pick Method: Drag Box
FD09	4e3	# Pick Method: Lasso
FD10	4d1	# Magnetism On/Off
FD11	650	# Pick Select
FD12	660	# Unpick Select
FD13	670	# Unpick Last
FD14	150	# Action Editor
FD15	190	# Preferences Editor
FD16	110	# Project Editor
FD17	160	# Spline Editor
FD18	120	# Forms Editor
FD19	130	# Cycle Editor
FD20	140	# Stage Editor

FF06	610	# Select/Click
FF08	620	# Select/Drag Box
FF09	630	# Select/Lasso
FF13	160	# Spline Editor
FF14	150	# Action Editor
FF15	190	# Preferences Editor
FF16	110	# Project Editor
FF17	120	# Detail Editor
FF19	130	# Cycle Editor
FF20	140	# Stage Editor

FC14	150	# Action Editor
FC15	190	# Preferences Editor
FC16	110	# Project Editor
FC17	120	# Detail Editor
FC18	130	# Forms Editor
FC20	140	# Stage Editor

FS01	540	# Pick Select
FS02	550	# Unpick Select
FS03	560	# Unpick Last
FS11	540	# Pick Select
FS12	550	# Unpick Select
FS13	560	# Unpick Last
FS14	150	# Action Editor
FS15	1a0	# Preferences Editor
FS16	110	# Project Editor
FS17	120	# Detail Editor
FS18	130	# Forms Editor
FS19	140	# Cycle Editor

FA13	160	# Spline Editor
FA15	1a0	# Preferences Editor
FA16	110	# Project Editor
FA17	120	# Detail Editor
FA18	130	# Forms Editor
FA19	140	# Cycle Editor
FA20	150	# Stage Editor

FP01	650	# Pick Select
FP02	660	# Unpick Select
FP03	670	# Unpick Last
FP04	380	# Add Axis
FP05	560	# Make Continuous
FP06	461	# Pick Method: Click
FP07	570	# Make Discontinuous
FP08	462	# Pick Method: Drag Box
FP09	463	# Pick Method: Lasso
FP11	650	# Pick Select
FP12	660	# Unpick Select
FP13	670	# Unpick Last
FP14	160	# Action Editor
FP15	190	# Preferences Editor
FP16	110	# Project Editor
FP17	120	# Detail Editor
FP18	130	# Forms Editor
FP19	140	# Cycle Editor
FP20	150	# Stage Editor


# User Gadgets

DBTN	210,"Coords"	# Coordinates on/off
DBTN	250,"ZI"	# Zoom in
DBTN	260,"ZO"	# Zoom out
DBTN	4d1,"Mag"	# Magnetism on/off
DBTN	4d2,"MS"	# Magnetism Setup
DBTN	394,"Prim"	# Add Primitive
DBTN	4b0,"Hid"	# Hide Points
DBTN	2e0,"Zone"	# Set Zone
DBTN	2c0,"NewMd"	# New mode display
DBTN	6b0,"PkSub"	# Pick subgroup
DBTN	546,"UnMk"	# Unmake subgroup
DBTN	545,"MkSub"	# Make subgroup
DBTN	5g0,"Smooth"	# Smooth this line of points and edges
DBTN	5e0,"SetEd"	# Set this line of points as the origin for a line fill
DBTN	5f0,"FilEd"	# Fill (faces) to this line of points and edges
DBTN	5n0,"Quick"	# Get the quick attributes requester

FBTN	210,"Coords"	# Coordinates On/Off
FBTN	250,"ZI"	# Zoom in
FBTN	260,"ZO"	# Zoom out
FBTN	510,"...NoSym"	# Symmetry off
FBTN	520,"FS"	# Front (Top) view symmetry
FBTN	530,"RS/TS"	# Right (Front) view symmetry
FBTN	540,"Both"	# Symmetry in both views
FBTN	550,"90"	# "90 degree" symmetry
FBTN	710,"...Select"	# Select cross section
FBTN	720,"+Key"	# Make key cross section
FBTN	730,"-Key"	# Unmake key cross section
FBTN	740,"Copy"	# Copy from another cross section
FBTN	750,"Cancel"	# Cancel cross section command
FBTN	410,"...Edit"	# Edit mode
FBTN	420,"Add"	# Add mode
FBTN	430,"Del"	# Delete mode

CBTN	210,"Coords"	# Coordinates on/off
CBTN	250,"ZI"	# Zoom in
CBTN	260,"ZO"	# Zoom out
CBTN	410,"Grp"	# Group Mode
CBTN	420,"Obj"	# Object Mode
CBTN	540,"Add"	# Add Mode
CBTN	510,"Pivot"	# Pivot Mode
CBTN	520,"Twist"	# Twist Mode
CBTN	530,"Move"	# Move Mode

SBTN	210,"Coords"	# Coordinates on/off
SBTN	250,"ZI"	# Zoom in
SBTN	260,"ZO"	# Zoom out
SBTN	2d0,"CView"	# Camera View
SBTN	750,"Goto"	# Go to specified frame

ABTN	210,"Add"	# Add action bar mode
ABTN	220,"Delete"	# Delete action bar mode
ABTN	230,"Info"	# Action bar info mode
ABTN	290,"Cancel"	# Cancel Add

PBTN	380,"AddAx"	# Add axis
PBTN	440,"Knot"	# Add knots to the axis
PBTN	450,"Control"	# Knot Control
PBTN	550,"Line"	# Make Line
PBTN	560,"Contin"	# Make Continuous
PBTN	570,"Dis"	# Make Discontinuous
PBTN	3a0,"AddPts"	# Add points
PBTN	3b0,"Rmpts"	# Remove points
PBTN	3c0,"Savepts"	# Save points as object


# End Of File
