body {
    font-family: Arial;
}
a:link {
   text-decoration: none;
   outline-style: none;
   outline-color: #000000;
   outline-width: initial;
   color: #026ACB;
}
a:hover {
    color: red;
    text-decoration:underline;
}
a:active {
    color: red;
    text-decoration:underline;
}
a:visited {
   text-decoration: none;
   outline-style: none;
   outline-color: #000000;
   outline-width: initial;
   color: #026ACB;
}
font.top {
    font-size: 20px;
    font-style: italic;
	font-family: serif;
	color: black;
	text-align: justify;
}
p.top {
	text-align: justify;
	color: #868686;
}
.bubble {
	clear: both;
	margin: 0px auto;
	width: 920px;
	background: white;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	margin-top: 15px;
}
.bubbleid {
	clear: both;
	margin: 0px auto;
	width: 920px;
	height: 575px;
	background: url(gfx/main/final.jpg);
	background-position: center center;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	margin-top: 15px;
}
.bubble_down {
	clear: both;
	margin: 0px auto;
	width: 920px;
	background: url(gfx/main/back.png);
	padding: 5px 10px 0px;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	margin-top: 15px;
}
.bubble_up {
	clear: both;
	margin: 0px auto;
	width: 920px;
	background: url(gfx/main/back.png);
	padding: 5px 10px 5px;
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	margin-bottom: 15px;
}
.shadowtext {
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    color: black;
    font-size: 25px;
    text-align: center;
}
.shadowtext2 {
    text-shadow: 0px 2px 3px #666;
    color: black;
    font-size: 10px;
    text-align: right;
    text-rendering: bold;
}
img {
    border-radius: 15px;
}
img.top {
    border-radius: 0px;
}