C1.0

SCREENPALETTE 656 fed 001 989 fd0 67b 348 335 001 222 444 666 888 aaa ccc eee
CLOSEWB off
CLOSESCALA off
GENLOCK off
SHUFFLER off
SHUFFLERSIZE 6
CURSORFLASH off
MENUMONITOR "pal.monitor"

EX "No." 41
EX "Nom de page" 318
EX "Effet" 79
EX "Attente" 51
EX "Son" 51
EX "Variables" 70
EX "Execute" 70

CREATEICONS off
FILESHUFFLER off
FILESHUFFLERSIZE 8
DRIVE "Scripts" "Work:Utilitaires/Multimedia/scala300/Scripts" 5
DRIVE "Backgrounds" "Work:Utilitaires/Multimedia/scala300/backgrounds" 4
DRIVE "Animations" "Work:Utilitaires/graphismes/Animations/" 4
DRIVE "Images" "images:" 4
DRIVE "Musiques" "modules:" 3
DRIVE "Sons" "Work:Utilitaires/musique/digitalisations" 3
DRIVE "Symboles" "Work:Utilitaires/Multimedia/scala300/symbols" 1
DRIVE "Palettes" "Work:Utilitaires/Multimedia/scala300/palettes" 1
DRIVE "Textes" "Work:Utilitaires/Multimedia/scala300/text" 2
DRIVE "Layouts" "work:utilitaires/multimedia/scala300/Layouts" 2

INSTRUMENTDIR "Instruments:"

BUFFERMODE Dynamic
PAGECOUNTER 0
COUNTERDWELL 10
POINTER off
LACEALL off
ASYNCMODE on
TIMING relative
PLAYMONITOR "pal.monitor"

MOUSE on
FKEYS on
NUMKEYS off
JOYSTICK off
TOUCHSCREEN off
INTERACTIVE on

PRINTER preferences
PRINTFONT times 12
PRINTPREFOPTS lq grey
PRINTPAGE horizontal 1
