f0f
ddd
ff0
f00
0f0
ff0
ZX SPECTRUM ENCYCLOPEDIA  

*empty*
VOLUME 1 © D.Noyce 1996 
*empty*
*empty*
What is ZX Spectrum Encyclopedia?
*dox*docs/Whatis
*empty*
*empty*
Coming Soon
*dox*docs/coming.txt
*empty*
Future Issues
*dox*docs/Future
*empty*
N O S T A L G I C   N E W S  
*empty*
*empty*
Top 10 May 1987
*iff*pics/top16may1987
Top 10 June 1987
*iff*pics/top10june1987
My Top 10 Speccy Games
*dox*docs/my10.txt
*empty*
*empty*
*empty*
*empty*
*empty*
D O C U M E N T S   A N D   P O K E S   F O R   G A M E S
*empty*
*empty*
3D Tank Duel
*dox*docs/3dtank.txt
180
*dox*docs/180.txt
1942
*dox*docs/1942.txt
2112
*dox*docs/2112.txt
Academy
*dox*docs/academy.txt
Action Biker
*dox*docs/atnbiker.txt
Ad Astra
*dox*docs/adastra.txt
Agent X 2
*dox*docs/Agentx2.txt
Airwolf
*dox*docs/airwolf.txt
Alchemist
*dox*docs/alchemis.txt
Alien 8
*dox*docs/alien8.txt
Alien Highway
*dox*docs/alienhig.txt
Aliens
*dox*docs/aliens.txt
Alternative World Games
*dox*docs/awg.txt
Amaurote
*dox*docs/amaurote.txt
Anarchy
*dox*docs/anarchy.txt
Android 2
*dox*docs/android2.txt
Antics
*dox*docs/antics.txt
Archon
*dox*docs/archon.txt
Arc Of Yesod
*dox*docs/arcyesod.txt
Arkanoid
*dox*docs/arkanoid.txt
Arkanoid 2
*dox*docs/Arkanoid2.txt
Army Moves
*dox*docs/armymove.txt
Asterix And The Magic Cauldron
*dox*docs/asterix.txt
Astroclone
*dox*docs/astroclo.txt
ATF
*dox*docs/atf.txt
Atic Atac
*dox*docs/aticatac.txt
ATV Simulator
*dox*docs/ATV.txt
Auf Wiedersehen Monty
*dox*docs/aw_monty.txt
Automania
*dox*docs/automani.txt
Back To Skool
*dox*docs/backtosk.txt
Ballblazer
*dox*docs/ballblaz.txt
Batman
*dox*docs/batman.txt
Batman - The Caped Crusador
*dox*docs/batmancc.txt
Batty
*dox*docs/batty.txt
Beach Head 2
*dox*docs/b_head2.txt
Beyond The Ice Palace
*dox*docs/beyondic.txt
Bombjack
*dox*docs/bombjack.txt
Bored Of The Rings
*dox*docs/bored.txt
Bosconian
*dox*docs/bosconia.txt
Bounces
*dox*docs/bounces.txt
Bounder
*dox*docs/bounder.txt
Bugaboo The Flea
*dox*docs/Bugaboo.txt
Captain America
*dox*docs/america.txt
Cauldron
*dox*docs/cauldron.txt
City Slicker
*dox*docs/slicker.txt
Cobra
*dox*docs/Cobra.txt
Colosseum
*dox*docs/colosseu.txt
Combat School
*dox*docs/combatsc.txt
Commando
*dox*docs/commando.txt
Convoy Raider
*dox*docs/convoy.txt
Cookie
*dox*docs/cookie.txt
Cybernoid 2
*dox*docs/cyberno2.txt
Cyberun
*dox*docs/cyberun.txt
Dark Sceptre
*dox*docs/darkscep.txt
Dark Star
*dox*docs/darkstar.txt
Doomdarks Revenge
*dox*docs/doomdark.txt
Druid
*dox*docs/druid.txt
Death Wish 3
*dox*docs/dwish3.txt
Dun Durach
*dox*docs/dundarac.txt
Dynamite Dan
*dox*docs/dynadan.txt
Earthlight
*dox*docs/erthlite.txt
Eliminator
*dox*docs/eliminat.txt
Elite
*dox*docs/elite.txt
Enduro Racer
*dox*docs/enduro.txt
Equinox
*dox*docs/equinox.txt
Escape From The Planet Of The Robot Monsters
*dox8docs/eftptrm.txt
Exolon
*dox*docs/exolon.txt
Finders Keepers
*dox*docs/finders.txt
Firefly
*dox*docs/firefly.txt
Firelord
*dox*docs/firelord.txt
Freez Bees
*dox*docs/freezbee.txt
Garfield
*dox*docs/garfield.txt
Ghosts 'n' Goblins
*dox*docs/ghostgob.txt
Glass
*dox*docs/Glass.txt
Green Beret
*dox*docs/grnberet.txt
Heartland
*dox*docs/heartlan.txt
Heavy On The Magick
*dox*docs/heavyotm.txt
How To Be A Hero
*dox*docs/howhero.txt
Hypersports
*dox*docs/hyperspo.txt
Jack The Nipper
*dox*docs/jacknipp.txt
Jet Pac
*dox*docs/jetpac.txt
Jet Set Willy
*dox*docs/jsw.txt
Jet Set Willy 2
*dox*docs/jsw2.txt
Knight Lore
*dox*docs/kghtlore.txt
Knight Tyme
*dox*docs/k_tyme.txt
Lemmings Demo
*dox*docs/lemmdemo.txt
Lunar Jetman
*dox*docs/ljetman.txt
Mailstrom
*dox*docs/mailstrm.txt
Manic Miner
*dox*docs/manic.txt
Marsport
*dox*docs/marsport.txt
Micronaut One
*dox*docs/micronau.txt
Mikie
*dox*docs/mikie.txt
Molecule Man
*dox*docs/molecule.txt
Motos
*dox*docs/motos.txt
Movie
*dox*docs/movie.txt
Nemesis
*dox*docs/nemesis.txt
Ninja Hamster
*dox*docs/hamster.txt
Nodes Of Yesod
*dox*docs/nodes.txt
Nomad
*dox*docs/nomad.txt
Ocean Conqueror
*dox*docs/oceancon.txt
Panzadrome
*dox*docs/Panzadro.txt
Pentagram
*dox*docs/pentagra.txt
Phantomas
*dox*docs/phantoma.txt
Ping Pong
*dox*docs/pingpong.txt
Planetoids
*dox*docs/planetoi.txt
Plexar
*dox*docs/plexar.txt
Prohibition
*dox*docs/prohibit.txt
Pssst
*dox*docs/pssst.txt
Pyracurse
*dox*docs/pyracurs.txt
Quazatron
*dox*docs/quazatro.txt
Ranarama
*dox*docs/ranarama.txt
Rasputin
*dox*docs/Rasputin.txt
Rasterscan
*dox*docs/rastersc.txt
Renegade
*dox*docs/renegade.txt
Revolution
*dox*docs/revoluti.txt
Robot Messiah
*dox*docs/rmessiah.txt
Room 10
*dox*docs/room10.txt
Rygar
*dox*docs/rygar.txt
Sarlmoor
*dox*docs/sarlmoor.txt
SAS Combat Simulator8
*dox*docs/sas_comb.txt
Scooby Doo
*dox*docs/scooby.txt
Shadowfire
*dox*docs/shadowfi.txt
Shadow Skimmer
*dox*docs/shadowsk.txt
Shockway Rider
*dox*docs/shockway.txt
Show Jumping
*dox*docs/showjump.txt
Sir Fred
*dox*docs/sir_fred.txt
Skyfox
*dox*docs/skyfox.txt
Slap Fight
*dox*docs/slapfigh.txt
Spaced Out
*dox*docs/spacedou.txt
Spellbound
*dox*docs/spellbou.txt
Spiky Harold
*dox*docs/harold.txt
Spindizzy
*dox*docs/spindizy.txt
Spitfire 40
*dox*docs/spitfire.txt
Split Personalities
*dox*docs/splitper.txt
Spy Vs Spy
*dox*docs/spyvsspy.txt
Starstrike 2
*dox*docs/starstk2.txt
Supercom
*dox*docs/supercom.txt
Sweevo's World
*dox*docs/sweevo.txt
Tales Of The Arabian Knights
*dox*docs/arabian.txt
Tetris
*dox*docs/tetris.txt
Thanatos
*dox*docs/thanatos.txt
The Ashes
*dox*docs/ashes.txt
The Covenant
*dox*docs/covenant.txt
The Final Matrix
*dox*docs/finalmat.txt
The Hobbit
*dox*docs/hobbit.txt
The Legend Of Avalon
*dox*docs/avalon.txt
The Lords Of Midnight
*dox*docs/lords-of-midnight.txt
The Price Of Magik
*dox*docs/prmagik.txt
The Sacred Armour Of Antiriad
*dox*docs/antiriad.txt
The Sentinel
*dox*docs/sentinel.txt
The Terrors Of Trantoss
*dox*docs/Trantoss.txt
Turbo Esprit
*dox*docs/turboesp.txt
Tutankhamun
*dox*docs/tutankh.txt
Twister - Mother Of Charlotte
*dox*docs/twister.txt
Underwurlde
*dox*docs/underwur.txt
Uridium
*do*docs/uridium.txt
V
*dox*docs/v.txt
Valhalla
*dox*docs/valhalla.txt
Virus
*dox*docs/virus.txt
Way Of The Exploding Fist
*dox*docs/fist1.txt
Who Dares Wins 2
*dox*docs/whodares.txt
Wizball
*dox*docs/wizball.txt
Zorro
*dox*docs/zorro.txt
*empty*
S C R E E N S H O T S
*empty*
*empty*
Aliens
*iff*pics/Aliens.pic
Arkanoid
*iff*pics/Arkanoid.Pic
ATF
*iff*pics/ATF.Pic
Batman
*iff*Pics/Batman.Pic
Bombjack
*iff*Pics/Bombjack.Pic
Cookie
*iff*Pics/Cookie.Pic
Doomdark's Revenge
*iff*Pics/Doomdark.Pic
Elite
*iff*Pics/Elite.Pic
Exolon
*iff*Pics/Exolon.Pic
Firefly
*iff*Pics/Firefly.Pic

