/* AMIGA 4 EVER
    Ausgabe 11
 RAINBOOT-VORWORT
       by
   THE TROOPER
*/

%BGPIC   = back
%FADEOUT = $0000/60/WB
%MODULE  = c/M2
%FONT1   = Smallcredits-2(8).font/20
%FONT2   = futural.font/20
%ERASE1  = 0/100/640/300
%ERASE2  = 0/400/640/110
%BRUSH2  = 0/410/rt.bru
%BRUSH1 = 0/410/intro.bru
%BRUSH3 = 0/410/tt.bru
%TEXT
%B1
%D100 %D2
%D3%X220%Y150%C20%F2%RE%RS9
Tapetenwechsel%RN
%D100 %D2
%F1%X30%Y205
Gut moeglich, dass es bis zum Release dieser 
vor Euch liegenden 11. Ausgabe nicht mehr 
moeglich war, die 4ever in einem neuen 
AmigaGuide  Gewandt erstrahlen (?) zu lassen.
Denn das wird zweifellos geschehen. 
Macht euch also auf einen Tapetenwechsel
gefasst. Spaetestens in der kommenden Ausgabe
wird es dann soweit sein.
%D30  %E1%N5%D3
%X30%Y145
Der Grund ? Wie ich erfahren habe (und 
teilweise auch bestaunen durfte) hinterlaesst 
das jetzige Inhaltsverzeichniss bei einigen 
Rechnern (unter bestimmten Aufloesungen) ein 
Chaos. Wir arbeiten an dem neuen Layout, aber 
das Urgestein der Amiga 4ever bleibt 
AmigaGuide. Ganz einfach deswegen, weil 
nahezu JEDER Rechner (respektive JEDER User) 
damit umgehen kann.
%D30  %E1%N5%D3%X30%Y145
Nach wie vor besteht aber die Moeglichkeit die 
etwas spaeter erscheindende HTML-Version per
Abo zu ergattern. Andre Podschaske leistet
hier ganze Arbeit.
Ein fluechtiger Gruss gen Osten :-) und ein 
ernster Blick gen Westen, denn wenn ihr diese 
Zeilen lest, gehoert die Home Electronics 
World `99 bereits der Vergangenheit an.
%D30  %E1%N5%D3%X30%Y145
So kurzfristig kann allerdings kein Bericht ueber
diese Messe entstehen, haltet also in der
naechsten Ausgabe danach Ausschau !

Ich hoffe doch, dass diejenigen die vor Ort 
waren ihre Impressionen via ASCII in die 4ever 
bringen !?
%D30   %E1%N5%D3%X30%Y145
Mit dieser Bitte entlasse ich Euch in eine 
hoffentlich gut gefuellte Amiga 4ever.


        G L O R Y   T O   T H E   B R A V E


und viel Spass beim Lesen !


Yours,%B2
%D80   %D2
%B3
%D20    %D2%N100%Q






