/* Rainboot 2 Demo-Config
*/

%BGPIC    = back
%BRUSH1   = 30/0/brush
%ERASE1   = 102/130/421/228
%ERASE2   = 20/120/612/340
%ERASE3   = 10/450/400/100
%FADEOUT  = $000000/20
%FONT1    = goudyb.font/48
%FONT2    = FuturaL.font/20
%FONT3    = Helvetica.font/15
%FONT22   = opal.font/12
%MODULE   = chipmod

%TEXT
%F22%X20%Y470
The first Rainboot Magazine  . . .
%F1%C147%RS163%X110%Y120%D2%RS0
     A   M   I   G   A
%X180%Y200
          %D2 4
%X180%Y280
  %D3E  V  E  R
%L56%N1%L58%N1%L60%N1%L62%N1%L63%E1%N20%E3%B1
%F22%X20%Y470%D0
by YOSHIMITSU
%F22%X160%Y90%RN%RB%RE%D1
-  The ultimate Multimedia Magazine  -
%F1%C147%X185%Y120%RE
WELCOME !
%F3%X20%C158%RB
Unsere AMIGA 4EVER hat ein neues Image ... Und das hat genau 8 Buchstaben,
nämlich: RAINBOOT !!!
Dieses hübsche Programm wird die Titelseite unsers Magazins sein, das ein
wenig Farbe in die "Bude" bringt !

Ich freue mich, daß mein Vorschlag Euch gefällt, und werde ab sofort also
das Rainboot-Vorwort schreiben.

Auf Wunsch von Rainer werde ich hier keinen so großen Hokus-Pokus 
veranstaten. Also keine unnützlichen animbrushes etc. Ich werde zwar nur
mit Tränen davonkommen, mich aber damit abgeben müssen (schnief!) ...
 
                                                %RE         THANX ALL FOLX !
%D200 %D2%N5%E2%X30%Y150
%RU%RE%F2%D0                                            %D2V o r w o r t%F3%RN%RB

Zeit das Outfit zu ändern ?

Mit dieser Frage beschäftigte sich Silvio Gohl (alias Yoshimitsu) ! Das Ergebnis 
seht Ihr nun direkt vor Euch und ich hoffe es vermag jedem zu gefallen.

Lob und Kritik sind natürlich gerne gesehen ! Sollte Euch diese Form des Vorworts 
also nicht zusagen oder solltet Ihr vor lauter Begeisterung von Eurem Chefsessel 
gefallen sein...dann lasst es Silvio wissen, damit er dementspechende Änderungen 
vornehmen kann ! Und damit diese Änderungen nicht allzulange auf sich warten 
lassen, schickt Eure "Comments" bitte direkt an :

Silvio Gohl - Wittgensdorfer Str. 23 - 01257 Dresden

(An Rainer: Du müßtest doch schon längst meine neue Adresse haben, hä!?)

und nicht wie sonst an meine Adresse. O.K ? Prima...
%D200 
%N5%E2%X30%Y150%D2%RN%RB
Da das Vorwort nun jeweils zu einem sehr frühen Zeitpunkt fertiggestellt wird,
kann ich Euch diesmal noch nicht allzuviele News (rund um unser kleines Magazin) 
bieten. Schaut deswegen unbedingt noch mal in den Nachtrag rein, evtl. sogar im 
User-Talk.

%RN%RU
Hier die erste Neuigkeit:
%RN%RB

Die Schreie nach einer kleinen "Konsolen-Rubrik" werden grösser, da viele von 
Euch neben dem Amiga auch noch eine Playstation (oder auch ein N64) besitzen.
Nun...Ich bezweifel das genug Artikel über Konsolen hier eintreffen werden, um 
damit gleich eine ganze Rubrik zu füllen. Dies ist der eine Punkt...der andere 
ist, daß solcher Stoff nicht gerade gerne in einem Amiga-Mag gesehen ist.
Schwierig hier eine Lösung für alle zu finden !
%D200 
%N5%E2%X30%Y150%D2
Aber ich denke es geht in Ordnung wenn unter "Exclusiv" fortan eine kleine 
"Playstation/N64-Ecke" eingeführt wird. Natürlich immer unter der Vorraussetzung,
daß die Konsolen-Freaks unter Euch sich hier beteiligen (Cheats,Tests...etc) !
UND: Wem dies wirklich stinkt,der lässt diese kleine Rubrik eben einfach links 
liegen. Also,setzt Euch an Eure Tastatur und schreibt...und Ihr bekommt schon 
in der nächsten Ausgabe die gewünschte Mini-Rubrik.

Das Vorwort findet Ihr übrigens nochmal in der normalen Guide-Version. Es könnte 
ja sein,das das Intro das abspielen auf einigen Rechnern verweigert...in dem 
Fall einfach Silvio (Yoshimitsu) bescheid geben und um Rat fragen.

(Beam me Up)
     Rainer !
%D200 
%D2%N2%E2%X60%Y110%F1

Viel Spaß bei unserer
  
           7. Ausgabe der
  
            Amiga 4ever !
%C10%F2%X380%Y474%E3%REYOSHIMITSU
%W%Q
